vim/bundle/*
!vim/bundle/Vundle.vim

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Temporary
*~
*.netrwhist

# Auto generated tag files
tags

# Persistent undo
[._]*.un~

# Session
Session.vim

# Compiled files
*.compiled

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

