[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "local/share/plank/themes"]
	path = local/share/plank/themes
	url = https://github.com/erikdubois/plankthemes
